<div class="dialog-wrap" ms-controller="SchemeListController">
    <div i="close" class="ui-dialog-close animate" title="cancel">
        <img src="../images/close-03.png" width="42" height="42">
    </div>
    <div class="buy-content">
        <div class="clearfix">
            <span class="bg-span pull-left"></span>
            <p class="f16 pull-left" style="margin-left: 40px;line-height: 130px;">是否申请设计师为你修改方案？</p>
        </div>
        <div class="btn-wrap">
            <a class="btn btn-default btn-zjd2">需要修改</a>
            <a class="btn btn-default btn-zjd2" style="margin-left: 45px;">不需要修改, 直接购买</a>
        </div>
    </div>
</div>