<div class="calendar-items step2 nimu">
    <p class="f16 color-orange">泥木阶段</p>
    <div class="clearfix step-info-ul-wrap">
        <ul class="pull-left left step-info-ul">
            <li>
                1，墙纸与乳胶漆交接处交底，墙纸厂家尺寸测量
            </li>
            <li>
                2，油漆基层材料到场交接
            </li>
            <li>
                3，墙顶面除锈开裂处理
            </li>
            <li>
                4，墙地面零星修补，卫生间厨房管道包设
            </li>
            <li>
                5，卫生间、阳台防水区域基层清理
            </li>
            <li>
                6，防水材料涂刷
            </li>
            <li>
                7，新设墙体砌筑粉刷
            </li>
            <li>
                8，二次养水试验
            </li>
            <li>
                9，铺贴主材及配套辅材进场
            </li>
            <li>
                10，厨房、卫生间、阳台墙地面砖铺贴
            </li>
            <li>
                11，客厅地面砖（如有）铺贴
            </li>
            <li>
                12，大理石门口板、窗台板铺贴
            </li>
            <li>
                13，泥工分项空鼓率及平整度自检
            </li>
            <li>
                14，铺贴墙面管线隐蔽后张贴示意条
            </li>
            <li>
                15，阴阳角及其它成品面统一做成品保护
            </li>
        </ul>
        <ul class="pull-left left step-info-ul" style="margin-left: 50px;">
            <li>
                16，泥水工分项工程验收
            </li>
            <li>
                17，木工现场交接提交木工基层材料清单
            </li>
            <li>
                18，木工墙顶面造型尺寸及完成面线复合
            </li>
            <li>
                19，橱柜厂家尺寸测量
            </li>
            <li>
                20，集成吊顶厂家尺寸测量
            </li>
            <li>
                21，淋浴房厂家尺寸测量
            </li>
            <li>
                22，木工基层材料到场交接
            </li>
            <li>
                23，顶面造型施工
            </li>
            <li>
                24，墙面造型施工
            </li>
            <li>
                25，水电工筒灯位定点并提供电气及卫浴主材清单，木工开设
            </li>
            <li>
                26，木工基层分项验收
            </li>
            <li>
                27，成品木饰面及成品柜体厂家尺寸测量，提供五金件清单
            </li>
            <li>
                28，地板厂家尺寸测量
            </li>
            <li>
                29，油漆工工序交接并提供油漆基层材料清单
            </li>
        </ul>
    </div>
</div>