<div class="calendar-items step2 zhuangqian nimu">
    <div class="step-wrap">
        <ul class="clearfix">
            <li class="cur pull-left">
                选择项目经理
            </li>
            <li class="pull-left">
                线下签订施工合同
            </li>
            <li class="pull-left" style="padding-left: 40px;">
                支付管理费
            </li>
            <li class="pull-left" style="padding-left: 50px;">
                施工队入场
            </li>
        </ul>

        <div style="position: absolute;top:-2px;left: 250px;">
            <img src="../images/user/arrow1.png" height="57px;">
        </div>
        <div style="position: absolute;top:-2px;left: 535px;">
            <img src="../images/user/arrow1.png" height="57px;">
        </div>
        <div style="position: absolute;top:-2px;left: 818px;">
            <img src="../images/user/arrow1.png" height="57px;">
        </div>
    </div>

    <div class="zhuangqian-step1" ms-visible="zqStep == 'step1'">
        <a class="color-orange" style="line-height: 30px;padding-left: 35px;">为什么选择项目经理?</a>

        <div class="jinli clearfix">
            <div class="pull-left item-jinli">
                <a class="image-wrap">
                    <img src="../images/designer-02.png">
                </a>
                <span>孙素你</span><br/>
                <a class="fa fa-check-square-o fa-1_3x" style="margin-top: 10px;"></a>
            </div>
            <div class="pull-left item-jinli">
                <a class="image-wrap">
                    <img src="../images/designer-02.png">
                </a>
                <span>孙素你</span><br/>
                <a class="fa fa-square-o fa-1_3x" style="margin-top: 10px;"></a>
            </div>
            <div class="pull-left item-jinli">
                <a class="image-wrap">
                    <img src="../images/designer-02.png">
                </a>
                <span>孙素你</span><br/>
                <a class="fa fa-square-o fa-1_3x" style="margin-top: 10px;"></a>
            </div>
            <div class="pull-left item-jinli">
                <a class="image-wrap">
                    <img src="../images/designer-02.png">
                </a>
                <span>孙素你</span><br/>
                <a class="fa fa-square-o fa-1_3x" style="margin-top: 10px;"></a>
            </div>
        </div>
        <p>签订装修合同：未完成，需要线下签订合</p>
        <div class="tlc" style="margin:20px 0 50px 0;">
            <a class="btn btn-default btn-zjd2"
               ms-click="zqStepHandler('step2')">
                签订施工合同
            </a>
        </div>
    </div>
    <div class="zhuangqian-step2" ms-visible="zqStep == 'step2'">
        <a style="line-height: 30px;padding-left: 35px;">
            2014-12-20 14:00:00
        </a>

        <div class="jinli clearfix" style="margin: 20px 0;">
            <div class="pull-left item-jinli">
                <a class="image-wrap">
                    <img src="../images/designer-02.png">
                </a>
            </div>
            <div class="pull-left">
                <p style="margin-top: 20px;" class="f14">
                    <span>孙素你男</span>
                    <span style="margin-left: 30px;">男</span>
                </p>
                <p class="f14">手机号码：1350000000</p>
            </div>
        </div>
        <p class="f14">已经选择了  <strong class="color-orange">孙权康</strong>  作为新家装修的项目经理，稍后他将主动联系您，与您就施工队等后续工作的展开进行洽谈，并完成施工合同的签订。</p>
        <p>提示：线下完成合同签订之后需要支付项目管理费用</p>
        <div class="tlc" style="margin:40px 0 50px 0;">
            <a class="btn btn-default btn-zjd2"
               ms-click="zqStepHandler('step3')">
                已经签订合同，支付管理费用
            </a>
        </div>
    </div>

</div>