html {
    overflow-x: hidden;
    overflow-y: auto
}

html, body {
    height: 100%
}

body {
    background-color: #FFF;
    color: #777;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    line-height: 22px;
    margin: 0
}

li{
    margin:0;
    padding:0;
    border:0;
    list-style:none outside none;
}

form label {
    font-weight: normal
}
h1, h2, h3 {
    margin-bottom: 20px
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.4em
}

h1, h2, h3, h4, h5 {
    font-weight: 300
}
body, p, h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, form, input, textarea, select, blockquote, i {
    margin: 0;
    /*font-size: 12px;*/
    font-family: Arial,Tahoma,"Microsoft YaHei";
}
ul, ol, input, textarea, td, th {
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}
b, em {
    font-weight: normal;
}
a:hover{
    text-decoration: none;
}

.tlc{
    text-align: center;
}
.tll{
    text-align: left;
}
.tlr{
    text-align: right;
}

.mt1 {
    margin-top: 10px !important
}

.mt2 {
    margin-top: 20px !important
}

.mt3 {
    margin-top: 30px !important
}

.mb1 {
    margin-bottom: 10px !important
}

.mb2 {
    margin-bottom: 20px !important
}
.mb3 {
    margin-bottom: 30px !important
}

.ml1{
    margin-left: 10px;
}
.ml2{
    margin-left: 20px;
}
.ml3{
    margin-left: 30px;
}

.ml4{
    margin-left: 40px;
}
.ml5{
    margin-left: 50px;
}
.ml6{
    margin-left: 60px;
}

.mr1{
    margin-right: 10px;
}
.mr2{
    margin-right: 20px;
}
.mr3{
    margin-right: 30px;
}

.pt1 {
    padding-top: 10px !important
}
.pl0 {
    padding-left: 0px !important
}

.p5 {
    padding: 5px !important
}

.p10 {
    padding: 10px !important
}

.p15 {
    padding: 15px !important
}

.p20 {
    padding: 20px !important
}

.container{
    width: 1200px !important;
}

.cursorHand{
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}
.cursorHand:hover{
    text-decoration: none;
}

.clearfix {
    /*display: inline-block;*/
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f18{
    font-size: 18px;
}
.f16{
    font-size: 16px;
}
.f14{
    font-size: 14px;
}
.f20{
    font-size: 20px;
}
.f30{
    font-size: 30px;
}
/* avalon消除一开始出现的{{}} */
.ms-controller, [ms-controller]{ display:none}
.mass_sys_log{ display: none; }

div.body {
    height: 100%;
    width: 100%;
    min-width: 1200px !important;
}

/*******************ngprogress**********************/
/* Make clicks pass-through */
#nprogress { pointer-events: none;}

#nprogress .bar { background: #f18044; position: fixed; z-index: 1031;top: 0;left: 0;width: 100%;height: 2px;}

/* Fancy blur effect */
#nprogress .peg {display: block;position: absolute;right: 0;width: 100px;height: 100%;
    box-shadow: 0 0 10px #f18044, 0 0 5px #f18044;
    opacity: 1.0;-webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);transform: rotate(3deg) translate(0px, -4px);}

/* Remove these to get rid of the spinner */
#nprogress .spinner {display: block; position: fixed;z-index: 1031;top: 15px;right: 15px;}

#nprogress .spinner-icon {width: 18px;height: 18px;box-sizing: border-box; border: solid 2px transparent;
    border-top-color: #f18044; border-left-color: #f18044; border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*******************ngprogress**********************/

/*animate*/
.animate {
    transition: all 0.4s  cubic-bezier(.23,1,.32,1);
    -webkit-transition: all 0.4s  cubic-bezier(.23,1,.32,1);
    -moztransition: all 0.4s  cubic-bezier(.23,1,.32,1);
}
.animate-big:hover {
    -webkit-transform: scale(1.18);
    -moz-transform: scale(1.18);
    transform: scale(1.18);
    -webkit-filter: saturate(1.5);
}
.animate-rotate:hover{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
}

/*animate*/

/*dialog*/
.ui-dialog-close{
    position: absolute;
    top: -44px;
    opacity: 1;
    right: -42px;
    color: #5e5e5e;
    width: 42px;
    height: 42px;
    padding: 0;
}
.ui-dialog-close:focus,
.ui-dialog-close:hover{
    opacity: 1;
    color: #5e5e5e;
    text-decoration: none;
    outline: 0;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
}

.ui-popup-modal .ui-dialog{
    border-top: 2px solid #ea5404;
}
/*dialog*/

/*pager*/
.pager-div-wrap{
    float: right;
    margin: -30px 0 50px 0;
}
.pager-div-wrap2{
    margin-top: 0;
}
/*pager*/