<div class="head clear">
    <span>施工</span> <b>￥{{unitPrice}}/m²</b> <i id="gcZPrice">施工总价￥{{totalPrice}} (建筑面积：{{house_area}}m²)</i><em>(产品为每m²造价)</em>
</div>
<div>

</div>
<table>
    <tbody >
        <tr ms-repeat="list">
            <td style="width: 505px;text-align: center;padding: 10px;">{{el.manual_name}}</td>
            <td width="150" class="td3"></td>
            <td width="209">单价：￥{{el.manual_price}}</td>
            <td width="100"></td>
            <td width="143">总价：￥{{el.totalPrice}}</td>
            <td width="92" class="td7">
                <!--<a href="javascript:;"-->
                <!--ms-click="toggleHandler(product, false)"-->
                <!--ms-visible="product.toggle">收起</a>-->
                <!--<a href="javascript:;"-->
                <!--ms-click="toggleHandler(product, true)"-->
                <!--ms-visible="!product.toggle">查看详细工艺</a>-->
            </td>
        </tr>
    </tbody>

</table>