<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>	<!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="400" data-delay="5000" >
                <!-- MAIN IMAGE -->
                <img src="../images/detail/detail_test-02.png"  alt="kenburns1"  data-bgposition="left bottom" data-kenburns="on" data-duration="2000" data-ease="Power4.easeInOut" data-bgfit="200" data-bgfitend="100" data-bgpositionend="center top">
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="flyin" data-slotamount="1" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="../images/detail/detail_test-02.png"  alt="kenburns2"  data-bgposition="left bottom" data-kenburns="on" data-duration="10000" data-ease="Power0.easeIn" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right top">
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="cube" data-slotamount="6" data-masterspeed="200" data-delay="7000" >
                <!-- MAIN IMAGE -->
                <img src="../images/detail/detail_test-02.png"  alt="kenburns11"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="115" data-bgpositionend="right bottom">
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="parallaxtoright" data-slotamount="7" data-masterspeed="600" >
                <!-- MAIN IMAGE -->
                <img src="../images/detail/detail_test-02.png"  alt="kenburns5"  data-bgposition="right bottom" data-kenburns="on" data-duration="11000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="left top">
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="600" data-delay="4500" >
                <!-- MAIN IMAGE -->
                <img src="../images/detail/detail_test-02.png" alt="kenburns9"  data-bgposition="center center" data-kenburns="on" data-duration="1500" data-ease="Power4.easeInOut" data-bgfit="200" data-bgfitend="100" data-bgpositionend="center center">
                <!-- LAYERS -->
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>