<style>
.thumbnail-order {
    background-color: #fff;

}

.thumbnail-order .order-info {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-color: #a0a0a0;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;   
}


.thumbnail-order .order-info .info{
    width: 150px;

}

.thumbnail-order .order-info .img img{
    width: 100%;
    height: 96px;    
}

.thumbnail-order .order-info .img {
    padding-bottom: 20px;  
}

.thumbnail-order .building-info{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-color: #a0a0a0;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;  
}

.thumbnail-order .building-info .info{
    width: 150px;
    color: #5e5e5e ;
}

.thumbnail-order .building-info .info img{
    padding-bottom: 20px;
    width: 100%;
}


</style>

<div class="thumbnail-order pull-left">
    <div class="order-info">
        <div class="info">
            <span style="color:#000000">订单编号:12213123222</span>
            <span style="color:#000000"><br>创建日期:2014年12月5日</span>
            <div style="margin-top: 20px;"class="img">
                <img src="../data/4.jpg" alt="">
            </div>
            <span style="color:#000000">我就是名称啊哈哈哈哈我是名称啦<br></span>
            <span>浙江 杭州 滨江金色黎明<br></span>
            <span>100.00m2户型2室1厅1厨1卫</span>      
        </div>
    </div>
    <div class="building-info">
        <div class="info">
            <h2>户型图:</h2>
            <div class="img">
                <img src="../data/u58.jpg" alt="">
            </div>
            <p><span>价格:20.00/m2</span></p>
            <p><span>风格:田园</span></p>
            <p><span>订单编号:1221123123123</span></p>
            <p><span>下单时间:2014年12月5日</span></p>
            <p><span>订单状态:买家已付订金，等待设计师提交效果图</span></p>
        </div>
    </div>
</div>