<div class="pop-up"
     style="background: #ffffff;position: relative;">
    <div i="close" class="ui-dialog-close animate cursorHand" title="cancel">
        <img src="../images/close-03.png" width="42" height="42">
    </div>
    <div class="flash-content" style="width: 942px; height: 540px; margin: 0 auto;">
        <object width="100%" height="100%" id="avatarIE" name="avatar" align="middle"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
                classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
            <param value="avatar.swf" name="movie"/>
            <param value="high" name="quality"/>
            <param name="wmode" value="opaque"/>
            <embed width="100%" height="100%" id="avatar"
                   type="application/x-shockwave-flash"
                   pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high"
                   src="avatar.swf" wmode="transparent"/>
        </object>
    </div>
</div>
